target

# Ignore non optimized svg !
report/schemas/*.svg
!report/schemas/*.opti.svg

# Ignore default PDF name
report/main.pdf

bibliography-tofix.bib
report/rapport-intermediaire-tb-plx_v1.pdf
report/.vscode/ltex.dictionary.fr.txt
report/.vscode/ltex.disabledRules.fr.txt
report/todos.md
