target

# Ignore non optimized svg !
report/schemas/*.svg
!report/schemas/*.opti.svg


bibliography-tofix.bib
report/rapport-intermediaire-tb-plx_v1.pdf
report/.vscode/ltex.dictionary.fr.txt
report/.vscode/ltex.disabledRules.fr.txt
report/protocol/messages/Action-SendResult.json
report/build.mode.txt
report/syntax/examples/long-desc-parsed.svg
debug.log
report/rapport-final-tb-plx-own-review.pdf
pocs/tree-sitter-poc-dy/queries/other-queries
affiche/TB_affiche_TB_PLX_test.pdf
affiche/TB_template_affiche.pptx
report/syntax/meta-exo/exo-parsed.svg
report/syntax/escaped-exo/exo-parsed.svg
report/syntax/keys-example/course-parsed.svg
report/chapters/resume.pdf
report/chapters/conclusion.pdf
report/chapters/planification.pdf
